/**
 * Menu
 *
 * Menu template.
 *
 * @section Menu
 * @page patterns
 *
 * @example
 *	<nav id="menu" class="menu" role="navigation" tabindex="-1" aria-label="Navigation Principal">
 *		<ul class="menu__list sf-menu">
 *			<li class="menu-item current-menu-item menu-item-has-children">
 *				<a href="01-home.php">Home</a>
 *			</li>
 *			<li class="menu-item"><a href="02-page-default.php">Page default</a></li>
 *			<li class="menu-item"><a href="03-archive-default.php">Archive default</a></li>
 *			<li class="menu-item"><a href="04-page-404.php">Page 404</a></li>
 *		</ul>
 *	</nav>
 */
.menu {
	$parent: &;
	$menu-item: '.menu-item';
	$sub-menu: '.sub-menu';

	z-index: 998;
	position: fixed;
	top: 0;
	left: -100%;
	bottom: 0;
	width: 80%;
	padding: 44px 0;
	background: $maincolor;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition : left 0.5s ease-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);

	@include clearfix;

	@include breakpoints(md) {
		position: relative;
		left: auto;
		overflow: inherit;
		background: none;
		width: auto;
		padding: 0;
	}

	&__list {
		@include clearfix;

		&>#{$menu-item} {
			@include breakpoints(md) {
				display: inline-block;
				position: relative;

				@include hover {
					#{$parent}__list {
						top: 100%;
					}
				}
				li {
					display: block;
					position: relative;
				}
			}
			&.current-menu-item,
			&.current-menu-parent,
			&.current-menu-ancestor {
				&>a {
					background: $maincolor;
					color: $textcolor;
				}
			}
		}
		&--drilldown {
			max-width: 100%;
			position: relative;
			overflow: hidden;
		}
	}

	#{$menu-item} {
		&>a {
			display: block;
			padding: 10px;

			@include hover {
				color:$textcolor;
				background:$maincolor;
			}
		}
		@include hover {
			#{$parent}__list {
				display: block;
			}
			& > ul {
				@include breakpoints(md) {
					display: block;
				}
			}
		}
	}

	#{$sub-menu} {
		position: relative;
		display: none;
		&--visible {
			display: block;
		}
		@include breakpoints(md) {
			position: absolute;
			top: 100%;
			min-width: 200px;
			background: $lightcolor;

			#{$menu-item} {
				a {
					@include hover {
						background: $maincolor;
						color: $textcolor;
					}
				}
			}
		}
		#{$sub-menu} {
			@include breakpoints(md) {
				position: absolute;
				top: 0;
				left: 100%;
			}
		}
	}
	#{$sub-menu}__toggle {
		float: right;
		background: $lightcolor;
	}
	#{$sub-menu}--drilldown {
		// display: block;
		position: absolute;
		top: 0;
		left: 100%;
		z-index: -1;
		width: 100%;
		background: #fefefe;
		transition: transform 0.15s linear;
		// transform: translateX(100%);
		&.active {
			z-index: 1;
			display: block;
			transform: translateX(-100%);
		}
	}
}

.menu-mobile--active {
	overflow: hidden;

	.menu {
		left: 0;
		box-shadow: 0 0 100px rgba($darkcolor, 0.5);
	}
}